<style>
  .inputBox {
    width: 100%;
    border: 1px solid grey;
  }
  .label {
    margin-top: 15px;
    margin-bottom: 15px; 
    color: grey;
    text-align: left;
    padding-left: 15px;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif; 
  }
  .detailsBox {
    height: 200px;
  }
  .summaryBox {
    height: 50px
  }
  .uploadButton {
    color: grey;
  }
  .uploadedImage {
    padding-top: 15px;
    max-width: 100%;
    max-height: 400px;
  }
</style>
<div class="col-xs-12">
  <div class="col-xs-12 label">Summary:</div>
  <div class="col-xs-12">
    <input type="text" class="inputBox summaryBox" name="summary" ng-model="input.inputObject.summary" placeholder="Summary of issue." required>
  </div>
  <div class="col-xs-12 label">Details:</div>
  <div class="col-xs-12">
    <textarea class="inputBox detailsBox" name="input" ng-model="input.inputObject.details" required ng-trim="false" placeholder="Enter details."></textarea>
  </div>
  <div class="col-xs-12 label">Share picture:</div>
  <div class="col-xs-12" flow-init>
    <div class="col-xs-12">
      <div class="btn btn-default" flow-btn>Upload File</div>
    </div>
    <div ng-if="$flow.files.length" class="col-xs-12">
      <img class="uploadedImage" flow-img="$flow.files[0]" />
      {{$flow.files[0]}}  
    </div>
  </div>
  <div class="col-xs-12">
    <div class="btn btn-default">Submit</div>
  </div>  
</div>

<!--<div>{{input.inputObject}}</div>-->