<div>
  <!-- {{issues.hello}} -->
  <!-- 'hello' -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
.header2{
	font-size: 60px;
	color: olive;
	background-color: lightgrey;
	font-family: Calibri;
	text-shadow: 2px 2px black;

}
.pic {
	text-align:center;
	display:block;

	width: 45px;
	height: 45px;
	
}

.title {
	font-size: 45px;
	color: #808000;
	/*text-shadow: 1px 1px black;*/
	
}

.description {
	font-size: 40px;
	color: black;
	/*background-color: grey;*/
	font-family: Cambria;
}

.s3{
/*	color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;*/
}

.numb {
	font-size: 27.5px;
	color: 	#A8A8A8   ;
	/*padding-left: 28px;*/

}

.top-pic {
	text-align:center;
	display:block;
}

.tags {
	font-size: 25px;
	color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;

}

.row {

	border-style: solid;
	border-bottom: solid #D8D8D8 ;
	box-shadow: 2px 2px 2px 2px rgba(223,226,242,1);
}
</style>

<div class = "col-xs-12 header2"><center> News Feed </center></div>

<div class = "row">
  <div class="col-xs-11">
  	<div class="col-xs-2">
  		<div class="col-xs-12" > <center><img class = "pic top-pic" src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-128.png"> </center></div>
  		<div class="col-xs-12 numb"><center>  200 </center></div>
  		<div class="col-xs-12"> <center><img class ="pic" src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-128.png"> </center></div>
  	</div>
  	<div class = "col-xs-10">
  		<div class="col-xs-12 title"> Issue</div>
  		<div class="col-xs-12 description">Description</div>
  		<div class="col-xs-12 tags"> Tags </div>
  	</div>
  </div>
</div>
</div>