<div>
  <!-- {{newsfeed.hello}} -->
  <!-- <emergencies-local></emergencies-local> -->
  <!-- <emergencies-global></emergencies-global> -->
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
      transition: 0.3s
    }
    
    .sidenav a:hover,
    .offcanvas a:focus {
      color: #f1f1f1;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      left: 0px;
      font-size: 15px !important;
      margin-right: 50px;
    }
    
    .extras {
      width: auto;
      height: auto;
      padding-top: 5px;
      max-width: 50px;
      max-height: 50px;
      float: right;
    }
    
    #main {
      transition: margin-right .5s;
      padding: 16px;
    }
    
    .nbar {
      float: right;
    }
    
    .header {
      height: 114px;
      background-color: #1E824C;
      padding:7px;
    }
    
    .write {
      padding-right: 50px;
    }
    
    .logo {
      font-size: 80px;
      font-family: 'Courgette', cursive;
      color: #ECF0F1;
    }
    
    .icon-unselected {
      font-size: 100px;
      color: #ECF0F1;
    }
    
    .container {
      display: none;
    }
    
    .trend {
      padding-left: 80px;
      font-size: 20px;
    }
    
    .recent {
      padding-right: 200px;
      font-size: 20px;
    }
    
    .h1 {
      width: 50%;
      float: left;
      background-color: #D3D3D3;
    }
    
    .h2 {
      width: 50%;
      float: right;
      background-color: #D3D3D3;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }
      .sidenav a {
        font-size: 10px;
      }
    }
  </style>


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
    <a href="#">Global</a>
    <a href="#">Local</a>
    <a href="#">Health</a>
    <a href="#">Heat Map</a>
  </div>



  <div class="header">
    <div class="logo col-xs-2">Envio</div>
    <div class="col-xs-10">
      <div class="col-xs-2">
        &nbsp;
      </div>
      <div class="col-xs-2" >
        <i class="glyphicon glyphicon-time icon-unselected" aria-hidden="true"></i>
      </div>
      <div class="col-xs-2">
        <i class="material-icons icon-unselected">trending_up</i>
      </div>
      <div class="col-xs-2">
        <i class="fa fa-map icon-unselected" aria-hidden="true"></i>
      </div>
      <div class="col-xs-2">
        <i class="fa fa-tags icon-unselected" aria-hidden="true"></i>
      </div>
      <div class="col-xs-2">
        <i class="material-icons icon-unselected">note_add</i>
      </div>
    </div>
    

  </div>
  <issues></issues>





</div>
